/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

body {
	  background-image: url('semenov_mt2.jpg');
    color: #fff;
}

.texty-line {
	   background-color: transparent;
    color: #eeeeee;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #eeeeee 1px;
    padding: 10px 10px;
}

#tippy_tip {
	padding: 5px 10px;
	background-color: #025aa5;
	color: #fff;
}

#error_explanation {
	 background:rgba(255,255,255,0.5);
	 padding:20px;
	 margin:20px 0px;
	 border-radius: 25px;
}