<br/><br/>
<h1 class="text-center">Your Total Cost</h1>
<br/><br />


<table class="table table-striped">
	<tr>
		<td>
			Cost of Your Meal:
		</td>
		<td>
			 <%= number_to_currency(@tippy.cost) %>
		</td>
	</tr>
	<tr>
		<td>
			Tip You Picked:
		</td>
		<td>
			 <%= number_to_percentage(@tippy.tip * 100, format: "%n%", precision: 0) %>
		</td>
	</tr>
	<tr>
		<td>
			The Total Cost:
		</td>
		<td>
			<%= number_to_currency(@tippy.calculation_of_total_cost) %>
		</td>
	</tr>
</table>